body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./assets/logobg.jpg);
    background-size: contain;
    background-position: center top 2rem;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}
.container h1{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        background-size: cover;
        background-position: 45% 55px;
        height: 80vh;
       
    }

    .scope span:nth-child(n+6) {
        display: none;
    }
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.601), rgba(0, 0, 0, 0.65));
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: transparent; /* Set text color to transparent */
    -webkit-background-clip: text; /* Clip background to text */
    background-image: linear-gradient(45deg, #fde59e, hsl(198, 94%, 73%)); /* Apply linear gradient */
    text-align: center;

    font-size: 4rem;


    white-space: nowrap;
    margin-top: -5rem;
    opacity: 0; /* Initially hide the h1 */
    animation: fadeIn 1s forwards;/* Apply animation to fade in the h1 */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%); /* Start position above the final position */
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%); /* Final position */
    }
}

.title p {
    font-size: 2rem;
    margin-top: -0.8rem;
    transition: z-index 0.5s; /* Add a transition for smoother effect */
    z-index: 3; /* Ensure the paragraph stays in front */
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.8rem;
    }

    .title p {
        font-size: 1.2rem;
        margin-top: -0.8rem;
    }
}

.scope {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    padding-bottom: 0;
    align-items: flex-end;
}

.scope span {
    display: inline-block;
    position: relative;
    height: 100px;
    animation: moveUpDown 5s alternate infinite;
    z-index: 10; /* Set a lower z-index for the images */
}

.scope span:nth-child(1) {
    animation-delay: 1s;
}

.scope span:nth-child(2) {
    animation-delay: 3s;
}

.scope span:nth-child(3) {
    animation-delay: 2s;
}

.scope span:nth-child(4) {
    animation-delay: 4s;
}

.scope span:nth-child(5) {
    animation-delay: 1s;
}

.scope span:nth-child(6) {
    animation-delay: 1.5s;
}
.scope span:nth-child(7) {
    animation-delay: 2s;
}
.scope span:nth-child(8) {
    animation-delay: 3s;
}
.scope span:nth-child(9) {
    animation-delay: 1s;
}

.scope span img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 2s;
}

.scope span:hover img {
    transform: translateY(-10px) scale(4);
    margin-top: -6rem;
    position: relative;
    z-index: 4;
    animation-play-state: paused;
}



/* @media (hover: hover) and (pointer: fine) {
    .scope span:hover img {
        transform: translateY(-10px) scale(4);
        margin-top: -6rem;
        position: relative;
        z-index: 4;
        animation-play-state: paused;
    }
} */


@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .scope {
        width: 95%;
        justify-content: space-between;
    }
    .scope span:hover img {
        transform: translateY(-10px) scale(3);
    }
}



*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.containernav{
    background-color: rgba(0, 0, 0, .85);
    width: 100%;
    padding:1rem;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 5;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.logo {
    order: 1;
    width: 75px;
    color: #ffffff;
    margin-left: 0; /* Push the logo to the left */
}

.menu-items {
    order: 2;
    display: flex;
    margin-left: auto; /* Push the menu items to the right */
}


.menu-items li{
    list-style: none;

    margin-left: 7rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}
@media (max-width: 768px){
    .menu-items li{
        list-style: none;
    
        margin-left: 1rem;
        font-size: 0.7rem;
    }
    
}
/* @media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #000000;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items::-webkit-scrollbar {
    width: 1px;
  }
  
  
    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #ffffff;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

} */

/* @media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
} */


/*-------------------services--------------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

.service {
    background-color: rgb(25, 23, 23);
}
.title1{
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  color: #ffffff;

}
.services-col h2 {
    display: block;
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
    text-align: center; /* Center-align the text */
}

/* Additional styles for h2 in smaller screens */
@media (max-width: 767px) {
    .services-col h2 {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
}
.services-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}

.services-col {
    height: auto; /* Adjusted height */
    color: rgb(236, 68, 90);
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 15rem;
    padding: 1.2rem;
    margin: 1.5rem;
}

.services-col i {
    padding: 1.5rem; /* Adjusted padding */
    border: none;
    background: aliceblue;
    color: rgb(53 167 156);
    border-radius: 50%; /* Changed to circle shape */
    font-size: 2.2rem; /* Adjusted font size */
}

.services-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
}

.services-col p {
    font-size: 1.2rem;
    color: #000;
}

@media (max-width: 767px) {

    .services-col {
        flex: 1 1 100%; /* Adjusted flex property for smaller screens */
    }
}


/*----------------------vendor section------------*/

.vendor {
   
    background-color: rgb(25, 23, 23);
}

.vendor-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.vendor .vendor-row {
    max-width: 30rem; /* Adjusted max-width */
    background: white;
    height: auto; /* Changed to auto for responsiveness */
    flex: 1 1 calc(33.33% - 3rem); /* Adjusted flex value for responsiveness */
    padding: 1.2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Moved transition here */
}

.vendor .vendor-row:hover {
    transform: scale(1.05); /* Adjusted scale on hover */
}

.vendor-row .rate {
    width: auto; /* Changed width to auto */
    padding:  .1rem;
    color: #000;
    border: none;
    font-size: 1.6rem;
    font-weight: 400;
}

.vendor .vendor-row img {
    height: auto; /* Changed height to auto for responsiveness */
    width: 100%;
    object-fit: cover;
}

.vendor-row h2 {
    font-size: 2rem;
    font-weight: 600;
}
@media (max-width: 767px) {
    .vendor h3{
        font-size: 0.5rem;
        padding: 4px;
    }
    .vendor-row p{
        font-size: 0.5rem;
    }
    .vendor-row h2 {
        
        font-size: 3rem; /* Adjusted font size for smaller screens */
    }
}

.vendor-row p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--clr4);
}

.vendor h3 {
    font-size: 1.6rem; /* Adjusted font size */
    background-color: aliceblue;
    padding: 7px;
    color: blue;
}
